<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Doctor</title>
    <!-- <<link rel="stylesheet" href="../css/style.css" > -->
    <style>
        body {
            background-image: url('https://demo.kaliumtheme.com/medical/wp-content/uploads/2018/11/team-of-doctors-in-hostpital.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            color: #fff;
            text-align: center;
            text-emphasis-color: #fff;
            background-color: #12a136;
            padding: 15px;
            border-radius: 5px;
        }

        form {
            background-color: rgba(255, 255, 255, 0.8);
            background-size: cover;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวนอน */
            justify-content: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวตั้ง */
            text-align: center; /* จัดให้ข้อความอยู่ตรงกลาง */
            border-radius: 5px;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"] {
            width: auto;
            background-color: #12a136;
            color: #fff;

        }

        a {
            text-align: center;
            margin-top: 20px;
            text-decoration: none;
            display: block;
            background-color: #007BFF;
            color: #fff;
            padding: 10px 15px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <h1>Create Doctor</h1>
    <form method="post" action="/createDoctor">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name">
        <br>
        <label for="Department">Department</label>
        <input type="text" id="Department" name="Department">
        <br>
        <input type="submit" value="create">
        <br>
    </form>
    <a href="/Doctors">Back to List</a>
</body>
</html>