<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Hospital</title>
    <!-- <<link rel="stylesheet" href="../css/style.css" > -->
</head>
<body>
    <h1>Create Hospital</h1>
    <form method="post" action="/createHospital">
        <label for="PatientID">PatientID</label>
        <input type="text" id="PatientID" name="PatientID">
        <br>
        <label for="DoctorID">DoctorID</label>
        <input type="text" id="DoctorID" name="DoctorID">
        <br>
        <label for="Treatment">Treatment</label>
        <input type="text" id="Treatment" name="Treatment">
        <br>
        <input type="submit" value="create">
        <br>
    </form>
    <a href="/">Back to List</a>
</body>
</html>