<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Hospital</title>
    <link rel="stylesheet" type="text/css" href="/css/create.css" />
</head>

<body>
    <h1>Create Hospital</h1>
    <form method="post" action="/createHospital">
        <label for="DoctorID">DoctorID</label>
        <input type="text" id="DoctorID" name="DoctorID">
        <label for="PatientID">PatientID</label>
        <input type="text" id="PatientID" name="PatientID">
        <br>
        <input type="submit" value="create">
    </form>
    <a href="/">Back to List</a>
</body>
</html>
