<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Patient</title>
    <!-- <<link rel="stylesheet" href="../css/style.css" > -->
</head>

<body style="background-image: url('https://www.virginiawomenscenter.com/wp-content/uploads/2018/09/AdobeStock_136041571.jpeg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <h1>Create Patient</h1>
    <form method="post" action="/createPatient">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name">
        <br>
        <label for="Disease">Disease</label>
        <input type="text" id="Disease" name="Disease">
        <br>
        <label for="Symptoms">Symptoms</label>
        <input type="text" id="Symptoms" name="Symptoms">
        <br>
        <label for="Treatment">Treatment</label>
        <input type="text" id="Treatment" name="Treatment">
        <br>
        <input type="submit" value="create">
        <br>
    </form>
    <a href="/Patients">Back to List</a>
</body>
</html>