<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Patient</title>
    <link rel="stylesheet" type="text/css" href="/css/create.css" />
</head>

<body>
    <h1>Create Patient</h1>
    <form method="post" action="/createPatient">
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name">
        <br>
        <label for="Symptoms">Symptoms</label>
        <input type="text" id="Symptoms" name="Symptoms">
        <br>
        <label for="Disease">Disease</label>
        <input type="text" id="Disease" name="Disease">
        <br>
        <label for="Treatment">Treatment</label>
        <input type="text" id="Treatment" name="Treatment">
        <br>
        <input type="submit" value="create">
    </form>
    <a href="/Patients">Back to List</a>
</body>
</html>