<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hospital</title>
    <!-- <link rel="stylesheet" href="../css/style.css" > -->
</head>
<body>
    <h1>View Hospital</h1>
    <table class="Hospital-table">
    <tr>
        <th>PatientID</th>
        <th>DoctorID</th>
        <th>Treatment</th>
    </tr>
    <tr>
        <td><%= Hospital.PatientID %></td>
        <td><%= Hospital.DoctorID %></td>
    </tr>
</table>
<div class="link-center">
    <a href="/updateHospital/<%= Hospital.PatientID %>">Edit</a>
    <a href="/updateHospital/<%= Hospital.PatientID %>">Delete</a>
    <a href="/">Back to List</a>
</div>
</body>
</html>