<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hospital </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- <img src="/hospital.jpg" alt="Hospital" width="100%" height="200px"> -->
</head>

<body>
    <h1> Hospital </h1>
    <table class="table">
        <tr>
            <th>Doctor ID</th>
            <th>Patient ID</th>
        </tr>
            <tr>
            <% for (var i = 0; i < Hospitals.length; i++) { %>
                    <td><%= Hospitals[i].DoctorID %></td>
                    <td><%= Hospitals[i].PatientID %></td>
                <td class="actions">
                    <a href="/updateHospital/<%= Hospitals[i].DoctorID %>">Update</a>
                    <a href="/deleteHospital/<%= Hospitals[i].DoctorID %>">Delete</a>
                </td>
            </tr>
            <% } %>
    </table>
        <a href="/createHospital" class="create-link">Create Hospital</a>
        <a href="/Hospital" class="create-link">Hospital Information</a>
        <a href="/Doctors" class="create-link">View Doctors</a>
        <a href="/Patients" class="create-link">View Patients</a>
    <br>
    <div class="footer">
        &copy; 2023 Welcome to Hospital
    </div>
</body>
</html>